<div id="<%= dom_id component %>">
  <p>
    <strong>Recipe:</strong>
    <%= component.recipe_id %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= component.ingredients_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= component.quantity %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= component.unit %>
  </p>

</div>
