<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div >
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div >
    <%= form.label :instructions, style: "display: block" %>
    <%= form.text_field :instructions %>
  </div>

  <div >
    <%= form.label :meal_type, style: "display: block" %>
    <%= form.select :meal_type, ['Breakfast','Lunch','Dinner'] %>
  </div>

  <div>
    <% @ingredients.each do | i | %>
    <div >  
    <p><%= i.name %></p>
    </div>
    <% end %>
  </div>

  <div class="wrapper">
    <div class="border" id="ingredient">
      <%= form.label :ingredients, style: "display: block" %>
      <%= form.text_field :ingredient %>
    </div>
    <div class="border" id="ingredient">3</div>
    <div class="border" id="ingredient">lbs</div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
